.App {
  box-sizing: border-box;
}

.ReactIcon {
  height: 45px;
  pointer-events: stroke;
  opacity: 55%;
}

@media (prefers-reduced-motion: no-preference) {
  .ReactIcon {
    animation: ReactIcon infinite 5s ease-in-out;
    animation-direction: alternate-reverse;
    animation-fill-mode: both;
    animation-delay: 5ms;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white;
}

nav {
  display: flex;
  align-items: center;
  background-color: #21222a;
  height: 90px;
  padding: 30px 25px;
}

.App-link {
  color: #61dafb;
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Inter, sans-serif;
}

nav {
  display: flex;
  align-items: center;
  background-color: #21222a;
  height: 90px;
  padding: 30px 25px;
}

.nav--logo_text,
.nav--title {
  margin: 0;
}

.nav--logo_text {
  margin-right: auto;
  color: #61dafb;
  font-weight: 700;
  font-size: 22px;
}

.nav--title {
  color: #deebf8;
  font-weight: 600;
}

.nav--icon {
  height: 30px;
  margin-right: 7px;
}
@keyframes ReactIcon {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
